<div class="schedule_box">
  <h1>Work Schedule</h1>
  <div class="dashboard">
    <div class="header_box">
      <h2>Month: <span>December</span></h2>
      <div class="buttons">
        <button [disabled]="firstDayOfWeek === 1" (click)="lastBtnClick()">
          {{ "<" }} Last Week
        </button>
        <button [disabled]="lastDayOfWeek === 35" (click)="nextBtnClick()">
          Next Week{{ ">" }}
        </button>
      </div>
    </div>
    <div class="timetable">
      @if(weekData){
      <table>
        <tr>
          <th></th>
          <th *ngFor="let day of weekData">
            {{ day?.day }}
            {{ day?.month?.slice(0, 3) }}
          </th>
        </tr>
        <tr>
          <td class="highlight"></td>
          <td>Mon</td>
          <td>Tue</td>
          <td>Wed</td>
          <td>Thu</td>
          <td>Fri</td>
          <td>Sat</td>
          <td>Sun</td>
        </tr>
        <tr>
          <td class="highlight"><b>Security</b></td>
          <ng-container *ngFor="let day of weekData">
            <ng-container
              *ngIf="
                checkSecurity(day.worktype, 'security') as securityWork;
                else noSecurity
              "
            >
              <td
                style="font-size: 0.875rem"
                [ngStyle]="{
                  backgroundColor:
                    securityWork?.shift === 'Evening'
                      ? 'var(--eveningShift)'
                      : 'var(--MorningShift)',
                      color:  securityWork?.shift === 'Evening'
                      ? 'var(--font_color)'
                      : '#262626dc',
                }"
              >
                {{ securityWork.worker }} -
                <span>{{ securityWork.shift }}</span>
              </td>
            </ng-container>
            <ng-template #noSecurity>
              <td></td>
            </ng-template>
          </ng-container>
        </tr>
        <tr>
          <td class="highlight"><b>Cook</b></td>
          <ng-container *ngFor="let day of weekData">
            <ng-container
              *ngIf="
                checkSecurity(day.worktype, 'cook') as securityWork;
                else noSecurity
              "
            >
              <td
                style="font-size: 0.875rem"
                [ngStyle]="{
                  backgroundColor:
                    securityWork?.shift === 'Evening'
                      ? 'var(--eveningShift)'
                      : 'var(--MorningShift)',
                      color:  securityWork?.shift === 'Evening'
                      ? 'var(--font_color)'
                      : '#262626dc',
                }"
              >
                {{ securityWork.worker }} -
                <span>{{ securityWork.shift }}</span>
              </td>
            </ng-container>
            <ng-template #noSecurity>
              <td></td>
            </ng-template>
          </ng-container>
        </tr>
        <tr>
          <td class="highlight"><b>Barista</b></td>
          <ng-container *ngFor="let day of weekData">
            <ng-container
              *ngIf="
                checkSecurity(day.worktype, 'barista') as securityWork;
                else noSecurity
              "
            >
              <td
                style="font-size: 0.875rem"
                [ngStyle]="{
                  backgroundColor:
                    securityWork?.shift === 'Evening'
                      ? 'var(--eveningShift)'
                      : 'var(--MorningShift)',
                      color:  securityWork?.shift === 'Evening'
                      ? 'var(--font_color)'
                      : '#262626dc',
                }"
              >
                {{ securityWork.worker }} -
                <span>{{ securityWork.shift }}</span>
              </td>
            </ng-container>
            <ng-template #noSecurity>
              <td></td>
            </ng-template>
          </ng-container>
        </tr>
        <tr>
          <td class="highlight"><b>Waiter</b></td>
          <ng-container *ngFor="let day of weekData">
            <ng-container
              *ngIf="
                checkSecurity(day.worktype, 'waiter') as securityWork;
                else noSecurity
              "
            >
              <td
                style="font-size: 0.875rem"
                [ngStyle]="{
                  backgroundColor:
                    securityWork?.shift === 'Evening'
                      ? 'var(--eveningShift)'
                      : 'var(--MorningShift)',
                      color:  securityWork?.shift === 'Evening'
                      ? 'var(--font_color)'
                      : '#262626dc',
                }"
              >
                {{ securityWork.worker }} -
                <span>{{ securityWork.shift }}</span>
              </td>
            </ng-container>
            <ng-template #noSecurity>
              <td></td>
            </ng-template>
          </ng-container>
        </tr>
      </table>
      }
    </div>
    <div class="shift_box">
      <h3>Shifts</h3>
      <div>
        <p class="morning"><i class="fa-solid fa-droplet"></i> Morning</p>
        <p class="evening"><i class="fa-solid fa-droplet"></i> Evening</p>
      </div>
    </div>
  </div>
</div>
