<div class="schedule_box">
  <h1>Work Schedule</h1>
  <div class="dashboard">
    <div class="header_box">
      <h2>Month: <span>December</span></h2>
      <div class="buttons">
        <button>{{ "<" }} Last Week</button>
        <button>Next Week{{ ">" }}</button>
      </div>
    </div>
    <div class="timetable">
      <table>
        <tr>
          <th></th>
          <th>Dec 1</th>
          <th>Dec 2</th>
          <th>Dec 3</th>
          <th>Dec 4</th>
          <th>Dec 5</th>
          <th>Dec 6</th>
          <th>Dec 7</th>
        </tr>
        <tr>
          <td class="highlight"></td>
          <td>Mon</td>
          <td>Tue</td>
          <td>Wed</td>
          <td>Thu</td>
          <td>Fri</td>
          <td>Sat</td>
          <td>Sun</td>
        </tr>
        <tr>
          <td class="highlight"><b>Security</b></td>
          <td>Eng</td>
          <td>Mat</td>
          <td>Che</td>
          <td></td>
          <td>LAB</td>
          <td>Phy</td>
          <td></td>
        </tr>
        <tr>
          <td class="highlight"><b>Cook</b></td>
          <td>LAB</td>
          <td>Eng</td>
          <td>Che</td>
          <td>Mat</td>
          <td>SPORTS</td>
          <td></td>
        </tr>
        <tr>
          <td class="highlight"><b>Barista</b></td>
          <td>Mat</td>
          <td>Phy</td>
          <td>Eng</td>
          <td>Che</td>
          <td>LIBRARY</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="highlight"><b>Waiter</b></td>
          <td>Phy</td>
          <td></td>
          <td></td>
          <td>LAB</td>
          <td>Mat</td>
          <td>Mat</td>
        </tr>
      </table>
    </div>
    <div class="shift_box">
      <h3>Shifts</h3>
      <div>
        <p class="morning"><i class="fa-solid fa-droplet"></i> Morning</p>
        <p class="evening"><i class="fa-solid fa-droplet"></i> Evening</p>
      </div>
    </div>
  </div>
</div>
